<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :parent_mother_id %><br>
    <%= f.number_field :parent_mother_id %>
  </div>
  <div class="field">
    <%= f.label :parent_father_id %><br>
    <%= f.number_field :parent_father_id %>
  </div>
  <div class="field">
        <%= f.label :marriage %><br>
        <%= f.text_field :marriage %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :pob %><br>
    <%= f.text_field :pob %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
