
<div class="people-listing">

    <h1>Listing people</h1>
  <%= link_to 'New Person', new_person_path %>

  <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>First name</th>
          <th>Middle name</th>
          <th>Last name</th>
          <th>Parent mother</th>
          <th>Parent father</th>
          <th></th>
          <th>Description</th>
          <th>Dob</th>
          <th>Pob</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @people.each do |person| %>
          <tr>
            <td><%= person.id %></td>
            <td><%= person.first_name.blank? ? raw("<span class=\"no-value\" title=\"This has no value\">N/A</span>") : person.first_name %></td>
            <td><%= person.middle_name.blank? ? raw("<span class=\"no-value\"title=\"This has no value\">N/A</span>") : person.middle_name %></td>
            <td><%= person.last_name.blank? ? raw("<span class=\"no-value\"title=\"This has no value\">N/A</span>") : person.last_name %></td>
            <td><%= person.parent_mother_id.blank? ? raw("<span class=\"no-value\"title=\"This has no value\">N/A</span>") : person.parent_mother_id %></td>
            <td><%= person.parent_father_id.blank? ? raw("<span class=\"no-value\"title=\"This has no value\">N/A</span>") : person.parent_mother_id %></td>
            <td><%= person.marriage.blank? ? raw("<span class=\no-value\"title=\"This has no value\">"N/A</span>") : person.marriage %></td>
            <td><%= person.description.blank? ? raw("<span class=\"no-value\"title=\"This has no value\">N/A</span>") : person.description %></td>
            <td><%= person.dob.blank? ? raw("<span class=\"no-value\"title=\"This has no value\">N/A</span>") : person.dob %></td>
            <td><%= person.pob.blank? ? raw("<span class=\"no-value\"title=\"This has no value\">N/A</span>") : person.pob %></td>
            <td><%= link_to 'Show', person %></td>
            <td><%= link_to 'Edit', edit_person_path(person) %></td>
            <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>


<br>

