<%=params[:id]%>

<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
<% if @person.first_name.blank? %>
      Not Available
<% else %>
  <%=@person.first_name %>
<% end %>

</p>

<p>
  <strong>Middle name:</strong>
  <%= @person.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Parent mother:</strong>
  <%= @person.parent_mother_id %>
</p>

<p>
  <strong>Parent father:</strong>
  <%= @person.parent_father_id %>
</p>

<p>
  <strong>Marriage:</strong>
  <%= @person.marriage %>
</p>


<p>
  <strong>Description:</strong>
  <%= @person.description %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @person.dob %> (Current Age: <%=@current_age%>)
</p>

<p>
  <strong>Pob:</strong>
  <%= @person.pob %>
</p>

<h3>Mother: <%=@mother && @mother.first_name%></h3>
<h3>Father: <%=@father && @father.first_name%></h3>
<h3>Spouse: <%=@spouse && @spouse.first_name%></h3>

<ul>
<% i = @tree.first.position %>
<% @tree.each do | person | %>
   <% if i != person.position %>
     <ul>
   <% end %>
   <li><%=person.first_name%> (<%=person.position%>)</li>
  <% i = person.position %>
<% end %>
</ul>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
