<%=params[:id]%>

<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
<% if @person.first_name.blank? %>
      Not Available
<% else %>
  <%=@person.first_name %>
<% end %>

</p>

<p>
  <strong>Middle name:</strong>
  <%= @person.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Parent mother:</strong>
  <%= @person.parent_mother_id %>
</p>

<p>
  <strong>Parent father:</strong>
  <%= @person.parent_father_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @person.description %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @person.dob %>
</p>

<p>
  <strong>Pob:</strong>
  <%= @person.pob %>
</p>

<h3>Mother: <%=@mother && @mother.first_name%></h3>
<h3>Father: <%=@father && @father.first_name%></h3>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
